
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

 
}

#nav, .encabezado{
    background-color:thistle;
    width: 100%;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}

.mi-nombre{
    width: 500px;
    height: 500px;
}

.mi-imagen{
    width: 500px;
    height: 500px;
    overflow: hidden;
 

}
.mi-foto{
    width: 100%;
    
}
a:link{
    text-decoration: none;
    color: black;
    
}

/*
.centrado-de-contenido-presentacion{
    width: 100%;
    background-color: orange;
    display: flex;
}
*/
#mi-presentacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;   
}

/* 
@media screen and (max-width:1200) and ( min-width:320) {
#mi-presentacion {
    font-size: 1rem;
    background-color: red; */


